// #main{
//   width: 100%;
//   height: 850px;
//   background-image: url('http://www.kabu-load.net/data/out/7/IMG_429009.jpg');
//   font-family: 'Raleway', sans-serif;
//   color: white;
//   text-align:center;
// }
// .info-box{
//   max-width: 600px;
//   height: 575px;
//   margin: 20px auto;
//   margin-left:  25%;
//   // margin-top: 20px;
//   padding: 20px;
//   background-color: white;
//   border: 1px solid black;
//   opacity: 0.4;
//   filter: alpha(opacity=60); /* For IE8 and earlier */
//   position:absolute;
// }
// .info-box  {
//   margin-top: 30px;

//   background-color: #ffffff;
//   border: 1px solid black;
//   opacity: 0.4;
//   filter: alpha(opacity=60); /* For IE8 and earlier */
// }

// .info {
//   font-family: 'Raleway', sans-serif;
//   margin: 5%;
//   font-weight: bold;
//   opacity: 1.5;
//   color: #000000;
// }
// .neva-headshot{
//   width: 200px;
//   height: 15opx;
//   position: absolute;
//   margin-top: 27%;
//   margin-left: -11%;
//   border: 1px solid black;
// }
.about-pic{
  width: 50%;
  height: 450px;
}
.about-body{
  width: 80%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(230, 230, 230);
}
.story{
  padding-top: 30px;
  padding-left: 10px;
  color: #9897CB;
}
.lorem{
  color: #7B8898;
  padding:10px;
}
