<div class="training-box">
  <div class="item-page">
    <img class="product-pic" src="assets/images/earth.jpg" alt="neva">
    <strong><h4 class="title">Private Yoga</h4></strong>
    <h6 class="journey">Start your journey of soul awakening</h6>
    <p class="dates">TBA</p>
      <p class="price">$100</p>
      <p class="location">Place: <a href="#">The Journey Space</a></p>
    <button (click)="addToCart()" type="submit" class="btn btn-secondary btn-lg nav-item"><img class="addToCart"
      src="assets/images/icons8-add_shopping_cart.png" alt="cart"></button>
  </div>
  <div class="item2">
      <img class="product-pic" src="assets/images/fire.jpg" alt="neva">
      <strong><h4 class="title">Yoga Therapy</h4></strong>
      <h6 class="journey">Start your journey of soul awakening</h6>
      <p class="dates">TBA</p>
        <p class="price">$250</p>
        <p class="location">Place: <a href="#">The Journey Space</a></p>
      <button (click)="addToCart()" type="submit" class="btn btn-secondary btn-lg nav-item"><img class="addToCart"
        src="assets/images/icons8-add_shopping_cart.png" alt="cart"></button>
  </div>
    <div class="item2">
      <img class="product-pic" src="assets/images/ayurveda.jpg" alt="neva">
      <strong><h4 class="title">Ayurvedic Counseling</h4></strong>
      <h6 class="journey">Start your journey of soul awakening</h6>
      <p class="dates">TBA</p>
        <p class="price">$250</p>
        <p class="location">Place: <a href="#">The Journey Space</a></p>
      <button (click)="addToCart()" type="submit" class="btn btn-secondary btn-lg nav-item"><img class="addToCart"
        src="assets/images/icons8-add_shopping_cart.png" alt="cart"></button>
  </div>
  <!-- <div class="item2">
      <img class="product-pic" src="assets/images/class2.jpeg" alt="neva">
      <strong><h4 class="title">200 Hr Fusion 5 Element Yoga /Ayurveda Teacher Training/ 2019</h4></strong>
      <h6 class="journey">Start your journey of soul awakening</h6>
      <p class="dates">Date: Fri, Nov 1st - Sun, May 3rd, 2020</p>
        <p class="price">Price: 2650.00 EB by Oct 20, 2350.00 Student rates available</p>
        <p class="location">Place: <a href="#">The Journey Space</a></p>
      <button type="submit" class="btn btn-secondary btn-lg nav-item"><img class="addToCart"
        src="assets/images/icons8-add_shopping_cart.png" alt="cart"></button>
  </div>
  <div class="item2">
      <img class="product-pic" src="assets/images/shakra-elements.jpg" alt="neva">
      <strong><h4 class="title">200 Hr Fusion 5 Element Yoga /Ayurveda Teacher Training/ 2019</h4></strong>
      <h6 class="journey">Start your journey of soul awakening</h6>
      <p class="dates">Date: Fri, Nov 1st - Sun, May 3rd, 2020</p>
        <p class="price">Price: 2650.00 EB by Oct 20, 2350.00 Student rates available</p>
        <p class="location">Place: <a href="#">The Journey Space</a></p>
      <button type="submit" class="btn btn-secondary btn-lg nav-item"><img class="addToCart"
        src="assets/images/icons8-add_shopping_cart.png" alt="cart"></button>
  </div> -->
</div>

