<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contact InnerDomain/Join Community</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    	<form name="infoForm" id="infoForm" method="POST" data-netlify="true">
                <input type="text" required minlength="4" class="form-control inputs" placeholder="Name" name="name"/>
		  	<div *ngIf="name.errors.required">
   			 	Name is required.
  			</div>
  			<div *ngIf="name.errors.minlength">
   			 	Name must be at least 4 characters long.
  			</div>
                <input type="email" required minlength="4" class="form-control inputs2" placeholder="Enter Email" name="email"/>
			<div *ngIf="email.errors.required">
   			 	Email is required.
  			</div>
  			<div *ngIf="email.errors.minlength">
   			 	Email must be at least 4 characters long.
  			</div>
                <textarea class="form-control inputs3" rows="4" placeholder="Comment" name="comment"></textarea>
                <button id="submitForm" type="submit" class="btn btn-secondary">Submit</button>
		<input type="hidden" name="form-name" value="infoForm" />
         </form> 
<!--   <p class="errors" *ngFor="let e of errors">{{ e }}</p>
    <form (submit)="handleSubmit()" netlify>
      <!-- <div class="form-group"> -->
<!--           <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" name="user.firstName" [(ngModel)]="user.firstName" placeholder="First Name">
          </div>
          <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" name="user.lastName"  placeholder="Last Name" [(ngModel)]="user.lastName">
          </div>
          <label>Email address</label>
          <input type="email" class="form-control" name="user.email" aria-describedby="emailHelp" placeholder="Enter email" ngModel email="true" [(ngModel)]="user.email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <!-- </div> -->
<!--         <div class="form-group">
            <label>Comment</label>
            <textarea class="form-control" name="user.comment" rows="3" [(ngModel)]="user.comment"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> --> 
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</ng-template>



<button class="btn btn-secondary text3 join" (click)="open(content)">Register/Connect</button>

<!-- <hr> -->

<!-- <pre>{{closeResult}}</pre> -->

